@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');


/* Reset sencillo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  min-height: 92vh;
}

/* Columna izquierda */
.left {
  flex: 1;
  background: #10131A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

.left h2,
.right h2 {
  padding: 20px;
  color: #01e6ff;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 14px 20px;
  border: none;
  background: #0062b3;
  color: #ffffff;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  min-width: 160px;
  margin: 16px;
  border: 1px solid #3eefff;

}

button:hover {
  background: #ffffff;
  color: #013889;
  border: 2px solid #013889;
  border-radius: 0;
  transform: scale(1.1);
}

/* Columna derecha */
.right {
  flex: 1;
  background: #10131A;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.right h2 {
  margin-bottom: 20px;
}

.right h1, p{

  color: #f4f6ff;

}

.right a{

  color: #01e6ff;

}

/* Figura base */
.box {
  width: 200px;
  height: 200px;
  background-color: #0062b3;
  margin: 0 auto;
  border-radius: 0;
  transition: all 0.5s ease;
  margin-top: 20px;
}

hr {
  margin: 40px 0;
}

.oculta {

  display: none;

}

img {
  margin-top: 30px;
}

#mainLink {
  margin-top: 20px;
  display: block;
}